
body {
  background-color: #EB5D35;
}
.App {
  display: flex;
  max-width: 1080px;
  margin: 0 auto;
  margin-top: 50px;
}

.App .Sidebar {
  flex: 1;
  min-height: 80vh;
  border-left: 1px solid #eacbc2;
}
.App .Content {
  flex: 2;
}

.App .Content .competitors {
  height: 80vh;
  overflow: auto;
} 

.App .Content .content-tittle{
  font-size: 16px;
  border-bottom: 1px solid #eacbc2;
  padding: 20px;
}

.selected {
  background-color: rgba(220, 101, 66, .1);
}
.App .Content .competitor{
  cursor: pointer;
  padding: 20px;
  display: flex;
  border-bottom: 1px solid #eacbc2;
}

.App .Content .competitor .image{
  border-radius: 3px;
  margin-right: 20px;
  overflow: hidden;
  flex: 1;
}

.App .Content .competitor .header{
  font-size: 14px;
  display: flex;
  justify-content: space-between;
}

.App .Content .competitor .header .success{
  color: white;
  padding: 5px;
  border-radius: 5px;
  background-color: rgba(128, 181, 62, .9);
}

.App .Content .competitor .header .danger{
  color: white;
  padding: 5px;
  border-radius: 5px;
  background-color: rgba(237, 84, 42, .9);
}

.App .Content .competitor .image img{
  width: 100%;
}

.App .Content .competitor .content .bio{
  color: #324754;
  font-size: 16px;
}

.App .Content .competitor .content .name{
  font-size: 20px;
}



.App .Content .competitor .content{
  border-radius: 3px;
  flex: 3;
} 

.card {
  background-color: white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  border-radius: 3px;
}

.Sidebar .title {
  font-size: 16px;
  border-bottom: 1px solid #eacbc2;
  padding: 20px;
}
.Sidebar .sidebar-content {
  padding: 20px;
}

.btn {
  background: #ccc;
  border-radius: 3px;
  color: #ffffff;
  font-size: 14px;
  width: 100%;
  padding: 10px 20px 10px 20px;
  margin-bottom: 10px;
  text-decoration: none;
}

.btn-success {
  background: rgba(128, 181, 62, .9);
}

.btn-danger {
  background: rgba(237, 84, 42, .9)
}

.btn-success:hover {
  background: rgba(128, 181, 62, 1);
}

.btn-danger:hover {
  background: rgba(237, 84, 42, 1)
}